{% layout="layout.html" %}
{-jslibs-}
<script src="js/jquery.panzoom.min.js" type="text/javascript" charset="utf-8"></script>
<script src="js/ace/ace.js" type="text/javascript" charset="utf-8"></script>
{-jslibs-}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">

  <h1 class="h2">Generator</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    
  </div>


</div>

<div id = "alert_placeholder"></div>

<div class="row">
	<div class="col-sm-6 mr-0">
 		<div class="generator-view-cont" style="width: 100%; height: 600px; border:1px solid black;">
			<div class="panzoom" id="svg-panzoom" style="width: 100%; height: 100px" >
				{* printer.generator:get_svg() *}
				<!-- 
				<svg id="svg-view"  type="image/svg+xml"
					src="api/pcb.svg">
				</img> -->
			</div>
		</div>
	</div>
	<div class="form-group col-sm-6 ml-0" >
		
		<div id="generator-editor" class="ace-editor" style="height: 450px;" >{* printer.generator:get_script() *}
		</div>

		<pre id="generator-output" style="height: 80px;">{* printer.generator:get_output() *}
		</pre>
		
		<button id="generator-update" class="btn btn-secondary mt-2 enabled-on-printer-state-idle" disabled>Update</button>
		<button id="generator-print" class="btn btn-primary btn-outline-secondary ml-2 mt-2 visible-on-printer-state-idle">
      		<span data-feather="play-circle"></span>
      		Print</button>
	</div>
	
</div>
	

{-sctipts-}

<script type="text/javascript">

var editor = ace.edit("generator-editor",{
	theme: 'ace/theme/monokai',
	mode: 'ace/mode/lua',
	selectionStyle:'text'
});

page_ctx.on_change_state = function(state) {
	location.reload();
}

function setup_generator_panzoom() {
	// var $section = $('#pcb-svg');
	// $section.find('#pcb-tr').panzoom({
	// 	disableZoom: true
	// });
}

function setup_panzoom() {
	var panzoom = $("#svg-panzoom").panzoom();
	panzoom.panzoom('option',{
		increment: 0.05,
	});
	panzoom.parent().on('mousewheel.focal', function( e ) {
            e.preventDefault();
            var delta = e.delta || e.originalEvent.wheelDelta;
            var zoomOut = delta ? delta < 0  : e.originalEvent.deltaY > 0;
            //console.log(zoomOut);
            panzoom.panzoom('zoom', zoomOut, {
              animate: false,
              focal: e
            });
          });
	setup_generator_panzoom();
}

setup_panzoom();

function reload_svg() {
	fetch('/api/generator.svg')
		.then(checkStatus)
		.then(r => r.text())
		.then(text => {
			$("#svg-panzoom").empty();
			$("#svg-panzoom").append( text );
			setup_generator_panzoom();
		})
		.catch(function(error) {
        	bootstrap_alert.error(
            	'<p>Failed load svg</p>'+
           	 '<hr><p class="mb-0">' + error + '</p>'
          	);
    	});
}

reload_svg();

$('#generator-update').click(function(){
	console.log('update');
   fetch('/api/generator/update',{
  		headers: {
	  		'Accept': 'application/json',
	      	'Content-Type': 'text/plain',
	    },
  		method: "POST",
  		body: editor.getValue()
  	})
    .then(checkStatus)
    .then(parseJSON)
    .then(checkResultStatus)
    .then(function(data) {
       reload_svg();
    }).catch(function(error) {
        bootstrap_alert.error(
            '<p>Failed update</p>'+
            '<hr><p class="mb-0">' + error + '</p>'
          );
    })
});

$('#generator-print').click(function(){
	 fetch('/api/generator/print',{
  		method: "POST"
  	})
    .then(checkStatus)
    .then(parseJSON)
    .then(checkResultStatus)
    .then(function(data) {
       window.location.href = data.redirect;
    }).catch(function(error) {
        bootstrap_alert.error(
            '<p>Failed print</p>'+
            '<hr><p class="mb-0">' + error + '</p>'
          );
    })
});

</script>

{-sctipts-}
